@keyframes twinkle {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 0.2; }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 8s linear infinite;
}

.perspective {
  perspective: 1000px;
} 